<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.HelperAwardMapper">
    <resultMap id="getAllInfo" type="com.scut.demo.entity.HelperAward">
        <id property="stu_id" column="helper_id" />
        <result property="name" column="point_name"/>
        <result property="type" column="point_type"/>
        <result property="success_num" column="success_num"/>
        <result property="defeat_num" column="defeat_num"/>
    </resultMap>
</mapper>