<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.JudgeTestMapper">
    <insert id="insertJudgeQuestion" parameterType="com.scut.demo.entity.JudgeTest">
        insert into judgequestion(judge_queid, title, ans) values (#{judgeQueid}, #{title}, #{ans})
    </insert>

    <select id="getJudgeTestById" resultType="com.scut.demo.entity.JudgeTest">
        select * from judgequestion where judge_queid=#{judgeQueid}
    </select>

    <delete id="deleteJudgeTestById">
        delete from judgequestion where judge_queid=#{id}
    </delete>
</mapper>