<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.KnowledgePointMapper">
    <select id="queryAllKnowledgePoints" resultType="com.scut.demo.entity.KnowledgePoint">
        select * from knowledgepoint
    </select>
    <insert id="insertKnowledgePoint" parameterType="com.scut.demo.entity.KnowledgePoint">
        insert into knowledgepoint(content, `section`, chapter) values (#{content}, #{section}, #{chapter})
    </insert>

    <update id="updateKnowledgePointById" parameterType="com.scut.demo.entity.KnowledgePoint">
        update knowledgepoint set chapter=#{chapter}, `section`=#{section}, content=#{content} where kp_id=#{id}
    </update>

    <delete id="deleteKnowledgePointById">
        delete from knowledgepoint where kp_id=#{id}
    </delete>

    <select id="queryKnowledgePointByChapter" resultType="com.scut.demo.entity.KnowledgePoint">
        select * from knowledgepoint where chapter=#{chapter}
    </select>

</mapper>