<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.TestInfoMapper">
    <resultMap id="testInfoMap" type="com.scut.demo.entity.TestInfo">
        <id property="testId" column="choice_queid"></id>
        <result property="op_A" column="op_A"></result>
        <result property="op_B" column="op_B"></result>
        <result property="op_C" column="op_C"></result>
        <result property="op_D" column="op_D"></result>
        <result property="correct" column="ans"></result>
        <result property="name" column="title"></result>
    </resultMap>
    <insert id="insertKnowledgePoint" parameterType="com.scut.demo.entity.KnowledgePoint">
        insert into knowledgepoint(content, `section`, chapter) values (#{content}, #{section}, #{chapter})
    </insert>

    <insert id="insertChoiceQuestion" parameterType="com.scut.demo.entity.TestInfo">
        insert into choicequestion(choice_queid, title,ans,op_A,op_B,op_C,op_D) values (#{choiceQueid}, #{title},#{ans}, #{opA},#{opB},#{opC},#{opD})
    </insert>

    <insert id="studentAnswer" parameterType="com.scut.demo.entity.StudentAnswer">
        replace into do_question(stu_id, que_id,record) values (#{studentId}, #{questionId},#{record})
    </insert>

    <update id="updateKnowledgePointById" parameterType="com.scut.demo.entity.KnowledgePoint">
        update knowledgepoint set chapter=#{chapter}, `section`=#{section}, content=#{content} where id=#{id}
    </update>

    <delete id="deleteChoiceQuestionById">
        delete from choicequestion where choice_queid=#{id}
    </delete>

<!--    <select id="getQuestionTextById" resultMap="testInfoMap">-->
<!--        select * from test where test_id=#{id}-->
<!--    </select>-->

    <select id="getQuestionText" resultType="com.scut.demo.entity.TestInfo">
        select * from choicequestion
    </select>

    <select id="getQuestionIds" resultType="com.scut.demo.entity.TestInfo">
        select choice_queid from choicequestion
    </select>

</mapper>