<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.TestBaseMapper">
    <resultMap id="TestBaseMap" type="com.scut.demo.entity.TestBase">
        <result property="queid" column="que_id"></result>
    </resultMap>

    <insert id="insertTestBase" parameterType="com.scut.demo.entity.TestBase">
        insert into question(que_id, title, ans) values (#{queid}, #{title}, #{ans})
    </insert>

    <select id="getAllTestBase" resultMap="TestBaseMap">
        select * from question;
    </select>

    <select id="getMaxTestID" resultType="Integer">
        select max(que_id) from question;
    </select>

    <delete id="deleteTestBaseById">
        delete from question where que_id=#{id}
    </delete>
</mapper>