<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.demo.mapper.TestBaseMapper">
    <insert id="insertTestBase" parameterType="com.scut.demo.entity.TestBase">
        insert into question(que_id, title, ans) values (#{ID}, #{content}, #{correct})
    </insert>

    <select id="getAllTestBase" resultType="com.scut.demo.entity.TestBase">
        select * from question;
    </select>

    <select id="getMaxTestID" resultType="Integer">
        select max(que_id) from question;
    </select>
</mapper>